/* line 4, C:/Bitnami/rubystack-2.0.0-30/projects/cars/app/assets/stylesheets/about.scss */
.main {
  height: 200px;
}
/* line 5, C:/Bitnami/rubystack-2.0.0-30/projects/cars/app/assets/stylesheets/welcome.scss */
.jumbotron {
  height: 700px;
  background-image: url("http://storage.pagani.com/view/1024/2010-12-11-Pagani-03-2379mm6m.jpg");
  background-size: cover;
}

/* line 11, C:/Bitnami/rubystack-2.0.0-30/projects/cars/app/assets/stylesheets/welcome.scss */
.main {
  position: relative;
  text-align: left;
  top: 90px;
  left: 50px;
  width: 330px;
}

/* line 18, C:/Bitnami/rubystack-2.0.0-30/projects/cars/app/assets/stylesheets/welcome.scss */
.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
}

/* line 25, C:/Bitnami/rubystack-2.0.0-30/projects/cars/app/assets/stylesheets/welcome.scss */
.main .start_btn {
  background-color: #333333;
  color: #FFFFFF;
  width: 100px;
  padding: 20px;
  position: relative;
  top: 250px;
  display: inline;
  text-decoration: none;
}

/* line 36, C:/Bitnami/rubystack-2.0.0-30/projects/cars/app/assets/stylesheets/welcome.scss */
.main .start_btn:hover {
  color: #FFFFFF;
  background: grey;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
