
	<div class="jumbotron">
	  <div class="main">
	    <h1>CarPics</h1>      
	    <p>A place for car lovers by car lovers.</p>
	    <%= link_to "Get Started", root_path, class: 'start_btn' %>
	  </div>
	</div>


