<div class="container-fluid">
	<div class="main">
		  <h1>Contact</h1>
		  <div class="row">
		    <div class="col-sm-4">
		    	<p>Image place holder</p>
		    </div>
		    <div class="col-sm-8">
		    	<h3>Hello. My name is <kbd>Edward Cao</kbd>.</h3>
		    	<p>I'm a recent graduate from University of Southern California with a MSEE and a BSEE degree. Recently I've discovered my passion in web development and created this website as my first project using Ruby on Rails. Hope you enjoy it!</p>
		    </div>
		  </div>
    </div>
</div>
