<div class="container-fluid">
	<div class="main">
		  <h1>Contact</h1>
		  <div class="row">
		    <div class="col-md-6">
		    	<a href="#">
		    		<img src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/linkedin-4096-black.png" height="210px" width="210px">
		    	</a>
		    </div>
		    <div class="col-md-6">
		    	 <a href="https://github.com/yigecao">
		    	 	<img src="https://wasin.io/wp-content/uploads/2015/05/showimage.png">
		    	 </a>
		    </div>
		  </div>
    </div>
</div>
